/* link decorators */
a.results:link { text-decoration: none; }
a.results:visited { text-decoration: none; }
a.results:hover { text-decoration: underline; }
a.results:active { text-decoration: underline; }

/* fills vertical space */
.fill {
    min-height: 90vh;
}

.forms {
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* gray background color with 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #F1F1F1;
}

/* smaller button with text centered */
.smoll {
    height: 30px;
    line-height: 15px;
}

/* center buttons */
.btn-toolbar {
  text-align: center;
}

/* black footer, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 5px;
}

/* on small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height:auto;
    }
}
