<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    #if ($username)
    <h2>Welcome home, $username</h2>
    <form method="get" action="/login">
        <input type="hidden" name="session" value="end"/>
        <p><input type="submit" value="Logout"></p>
    </form>

    <form method="get" action="/home">
        Hotel Search:<input type="text" name="hotelSearch" value="$hotelSearch">
        <input type="submit" value="Enter">
    </form>

    <p></p>
    #set ($i = 1)
    #if ($matchedHotels.size() > 0)
        #foreach ($hotelName in $matchedHotels)
            <!--<p>$i. <a href="/info?hotelName=$hotelName">$hotelName</a></p>-->
            <form method="get" action="/info">
                <input type="hidden" name="hotelName" value="$hotelName">
                <button type="submit">
                    $i. $hotelName
                </button>
            </form>
            #set ($i = $i + 1)
        #end
    #else
        <p>Sorry, no results.</p>
    #end

    #else
    <h3>Please login or create new account.</h3>
    <form method="get" action="/login">
        <p><input type="submit" value="Login"></p>
    </form>
    <form method="get" action="/registration">
        <p><input type="submit" value="Register"></p>
    </form>
    #end
</body>
</html>