<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$hotelName</title>
</head>
<body>
    #if ($username)
    <p>$hotel.getName() ~ $hotel.getHotelid()</p>
    <p>$hotel.getStreet(), $hotel.getCity(), $hotel.getState()</p>

    #if ($avgRating)
        <p>Average Rating: $avgRating</p>
    #else
        <p>Average Rating: N/A</p>
    #end

    #set ($url = $hotel.getCity() + "-Hotels-" + $hotel.getName() + ".h" + $hotel.getHotelid() + ".Hotel-Information")
    <p><a href="https://www.expedia.com/$url" target="_blank" rel="noopener noreferrer">$hotelName</a></p>

    #if ($reviewList.size() > 0)
        <form method="get" action="/add-review">
            <input type="hidden" name="hotelName" value="$hotelName">
            <input type="hidden" name="hotelid" value="$hotel.getHotelid()">
            <p><input type="submit" value="Add Review"></p><br>
        </form>
        <b>$reviewList.size() reviews</b>
        #foreach ($review in $reviewList)
            <p><b>Rating:</b> $review.getRating()</p>
            <p><b>Title:</b> $review.getTitle()</p>
            <p><b>By:</b> $review.getUsername() on $review.getSubmissionDate()</p>
            <p>$review.getText()</p><br>
        #end
    #else
        <p>No reviews yet. Want to add one?</p>
        <form method="get" action="/add-review">
            <input type="hidden" name="hotelName" value="$hotelName">
            <input type="hidden" name="hotelid" value="$hotel.getHotelid()">
            <p><input type="submit" value="Add Review"></p>
        </form>
    #end

    #else
    <h3>Please login or create new account.</h3>
    <form method="get" action="/login">
        <p><input type="submit" value="Login"></p>
    </form>
    <form method="get" action="/registration">
        <p><input type="submit" value="Register"></p>
    </form>
    #end
</body>
</html>