<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
    <!-- method, do we want to send data via POST or GET request,
    action, which servlet is responsible for processing form when it's submitted -->
    <form method="post" action="/registration">
        Choose your username:<br><input type="text" name="name"><br>
        Choose your password:<br><input type="password" name="pass"><br>
        <p><input type="submit" value="Register"></p>
    </form>
</body>
</html>