<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Review</title>
</head>
<body>
    #if ($username)

    #if ($error == "failed")
        <p style="color:#FF0000">Could not add review, please try again.</p>
    #end

    <h3>New Review</h3>
    <p>$hotelName</p>
    <form method="post" action="/add-review">
        <input type="hidden" name="hotelSearch" value="$hotelSearch">
        <input type="hidden" name="hotelid" value="$hotelid">
        <input type="hidden" name="hotelName" value="$hotelName">
        <p>Rating:
        <label><input type="radio" name="rating" value="1" required >1</label>
        <label><input type="radio" name="rating" value="2">2</label>
        <label><input type="radio" name="rating" value="3">3</label>
        <label><input type="radio" name="rating" value="4">4</label>
        <label><input type="radio" name="rating" value="5">5</label></p>
        <p>Title: <input type="text" name="title" size="35" placeholder="Title"></p>
        Review Text:<br>
        <textarea name="review-text" rows="6" cols="40" maxlength="1600" placeholder="Review"></textarea>
        <p><input type="submit" value="Submit Review"></p>
    </form>
    <form method="get" action="/info">
        <input type="hidden" name="hotelSearch" value="$hotelSearch">
        <input type="hidden" name="hotelName" value="$hotelName">
        <p><input type="submit" value="Back"></p>
    </form>

    #else
    <h3>Please login or create new account.</h3>
    <form method="get" action="/login">
        <p><input type="submit" value="Login"></p>
    </form>
    <form method="get" action="/registration">
        <p><input type="submit" value="Register"></p>
    </form>
    #end
</body>
</html>